body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: lightgray;
  color: black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: calc(100% - 22px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.dark li {
  background-color: #333;
}

.notification {
  background-color: #444e45;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}